@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";

:root {
  --background: #ece6da;
  --foreground: #171717;
  --figs-pink: #db9ec8;
  --figs-yellow: #fff225bf;
  --figs-cream: #ece6da;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-figs-pink: var(--figs-pink);
  --color-figs-yellow: var(--figs-yellow);
  --color-figs-cream: var(--figs-cream);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
